*{
   max-width:100%;
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:system-ui,sans-serif;
   word-wrap:break-word;
}
body{
   min-height:100vh;
   position:relative;
   scroll-behavior:smooth;
 }

.main-head{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
}

.main-head-title{
   padding:0.25em;
}

.main-nav{
   width:100vw;
   display:flex;
   flex-direction:column;
   justify-content:stretch;
   align-items:stretch;
   gap:32px;
   background-color:#e9e9f9;
   padding:0.5em;
   position:sticky;
   top:0;
   right:0;
   z-index:1000;
   animation: horizontalScrollbar 2s ease-in-out;
   /* Pause the animation */
   animation-play-state: paused;
   /* Bind the animation to scroll */
   animation-delay: calc(var(--scroll) * -1s);
   /* These last 2 properites clean up overshoot weirdness */
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
}
@keyframes horizontalScrollbar {
  to {
   background-color:#bebedb;
  }
}

#main-menu-wrapper{
   width:50px;
   height:50px;
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:25px;
   font-family:monospace;
   background-color:#fff;
   border-radius:50%;
   margin:auto 0 auto auto;
   transition:background-color .125s ease-in-out, color 0.625s ease-in-out;
}#main-menu-wrapper:hover{
   cursor:pointer;
   background-color:#252525;
   color:#e9e9f9;
}

.main-menu{
   width:100%;
   max-height:calc(100vh - 90px);
   overflow-x:hidden;
   overflow-y:auto;
   display:grid;
   grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
   grid-auto-rows:minmax(20px, 1fr);
   grid-auto-flow:row dense;
   gap:32px;
   list-style:none;
   position:sticky;
   top:0;
   padding:0.25em 0;
   z-index:999;
}

.main-menu-items{
   width:100%;
   height:100%;
   min-height:32px;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
   background-color:#e9e9f9;
}

.main-menu-items:hover{
   background-color:#dadaf7;
}

.main-menu-links{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   text-decoration:none;
   font-weight:500;
   font-size:18px;
   padding:0.5em;
   color:#252525;
}

.main-content{
   width:100%;
   min-height:100vh;
   display:grid;
   grid-template-columns:1fr;
   grid-auto-rows:minmax(20px, auto);
   grid-auto-flow:row dense;
}
.main-content > *{
   grid-column:1/-1;
}

.main-sections{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:stretch;
   gap:0.5em;
}

.main-sections-title{
   padding:0.25em;
}

.main-articles{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:center;
   flex-wrap:wrap;
   gap:1em;
   background-color:#f5f5f5;
   color:#252525;
   padding:1em;
}

.main-footer{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   position:relative;
   gap:0.5em;
   bottom:0;
   background-color:#e9e9f9;
   font-weight:500;
   box-shadow: 0 0 3px 1.5px black;
}
.main-footer p{
   padding:1em;
}

.form-articles{
   width:max-content;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
   padding:1em;
   margin:0 auto;
}
form{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:0.5em;
}
form label{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   margin:0.15em auto;
}
form input:not([type="submit"]){
   min-width:250px;
   min-height:32px;
   border-radius:4px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   text-align:center;
   border:none;
   background-color:#e0daf5;
   padding:0.5em 1em;
   margin-bottom:1em;
}
form input[type="submit"]{
   min-width:150px;
   min-height:32px;
   border-radius:4px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   text-align:center;
   border:none;
   background-color:#e9e9e9;
   padding:0.5em 1em;
   margin-top:1.5em;
   font-weight:500;
}form input[type="submit"]:hover{
   cursor:pointer;
   background-color:#d6d6d6;
}form input[type="submit"]:active{
   cursor:pointer;
   background-color:#bebebe;
}

@media all and (min-width:760px){
   #main-menu-wrapper{
      display:none;
   }
}

@media all and (max-width:760px){
   .main-head-title{
      padding:50px 0.25em 0.25em 0.25em;
   }
   .main-nav{
      width:max-content;
      margin-left:auto;
      position:fixed;
      top:0;
   }
   .main-menu{
      display:none;
   }
}