*{
   max-width:100%;
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:system-ui,sans-serif;
   word-wrap:break-word;
}
body{
   min-height:100vh;
   position:relative;
   scroll-behavior:smooth;
 }

.main-head{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
}

.main-head-title{
   padding:0.25em;
}

.main-nav{
   width:100vw;
   display:flex;
   flex-direction:column;
   justify-content:stretch;
   align-items:stretch;
   gap:32px;
   background-color:#e9e9f9;
   padding:0.5em;
   position:sticky;
   top:0;
   right:0;
   z-index:1000;
   animation: horizontalScrollbar 2s ease-in-out;
   /* Pause the animation */
   animation-play-state: paused;
   /* Bind the animation to scroll */
   animation-delay: calc(var(--scroll) * -1s);
   /* These last 2 properites clean up overshoot weirdness */
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
}
@keyframes horizontalScrollbar {
  to {
   background-color:#bebedb;
  }
}

#main-menu-wrapper{
   width:50px;
   height:50px;
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:25px;
   font-family:monospace;
   background-color:#fff;
   border-radius:50%;
   margin:auto 0 auto auto;
   transition:background-color .125s ease-in-out, color 0.625s ease-in-out;
}#main-menu-wrapper:hover{
   cursor:pointer;
   background-color:#252525;
   color:#e9e9f9;
}

.main-menu{
   width:100%;
   max-height:calc(100vh - 90px);
   overflow-x:hidden;
   overflow-y:auto;
   display:grid;
   grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
   grid-auto-rows:minmax(20px, 1fr);
   grid-auto-flow:row dense;
   gap:32px;
   list-style:none;
   position:sticky;
   top:0;
   padding:0.25em 0;
   z-index:999;
}

.main-menu-items{
   width:100%;
   height:100%;
   min-height:32px;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
   background-color:#e9e9f9;
}

.main-menu-items:hover{
   background-color:#dadaf7;
}

.main-menu-links{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   text-decoration:none;
   font-weight:500;
   font-size:18px;
   padding:0.5em;
   color:#252525;
}

.main-content{
   width:100%;
   min-height:100vh;
   display:block;
}
.main-content > *{
   grid-column:1/-1;
}

.main-sections{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:stretch;
   gap:0.5em;
}

.main-sections-title{
   padding:0.25em;
}

.main-articles{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:center;
   flex-wrap:wrap;
   gap:1em;
   background-color:#f5f5f5;
   color:#252525;
   padding:1em;
}

.patients-view{
   width:100%;
   display:grid;
   grid-template-columns:repeat(auto-fit, minmax(400px,1fr));
   grid-auto-rows:minmax(50px, auto);
   grid-auto-flow:row dense;
   flex-wrap:wrap;
   gap:2em;
   background-color:#f5f5f5;
   color:#252525;
   padding:1em;
}

.patients-articles{
   width:400px;
   height:100%;
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
   align-items:center;
   text-align:center;
   gap:12px;
   padding:1em;
   background-color:#e0daf5;
   margin:0 auto;
}


.main-footer{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   position:relative;
   gap:0.5em;
   bottom:0;
   background-color:#e9e9f9;
   font-weight:500;
   box-shadow: 0 0 3px 1.5px black;
}
.main-footer p{
   padding:1em;
}

.form-articles{
   width:max-content;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
   padding:1em;
   margin:0 auto;
}
form{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:0.5em;
}
form label{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   margin:0.15em auto;
}
form input:not([type="submit"]){
   min-width:250px;
   min-height:32px;
   border-radius:4px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   text-align:center;
   border:none;
   background-color:#e0daf5;
   padding:0.5em 1em;
   margin-bottom:1em;
}
form input[type="submit"]{
   min-width:150px;
   min-height:32px;
   border-radius:4px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   text-align:center;
   border:none;
   background-color:#f3f3f3;
   padding:0.5em 1em;
   margin:1.5em auto;
   font-weight:500;
}form input[type="submit"]:hover{
   cursor:pointer;
   background-color:#d6d6d6;
}form input[type="submit"]:active{
   cursor:pointer;
   background-color:#bebebe;
}
.form-errors{
   color:#e33;
   font-size:14px;
}

.search-container{
   width:100%;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
   margin:0.5em auto;
}
.search-container form{
   width:calc(100% - 3em);
   display:grid;
   grid-template-columns:repeat(auto-fit, minmax(120px,1fr));
   grid-auto-rows:minmax(40px, auto);
   grid-auto-flow:row dense;
   gap:0.5em;
   padding:1em;
   margin:0 auto;
}
.search-container form label{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   grid-column:1/-1;
   grid-row:1;
}
.search-container form input:not([type="submit"]){
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   grid-column:1/-3;
   grid-row:2;
   margin:0;
}

.search-container form input[type="submit"]{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   grid-column:-3/-1;
   grid-row:2;
   margin:0;
}

.pagination-table{
   width:auto;
   max-width:100%;
   margin:1em auto;
}
.pagination-table tr{
   width:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   gap:0.25em;
   margin:0;
   padding:0;
}
.pagination-table tr td{
   display:table-cell;
   width:32px;
   height:32px;
}
.pagination-table tr .pagination-index-start,
.pagination-table tr .pagination-index-end{
   width:64px;
   height:32px;
}
.pagination-button{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   font-weight:500;
   font-family:monospace;
   font-size:20px;
   border:none;
   background-color:#e6e6e6;
   outline:none;
}.pagination-button:hover{
   cursor:pointer;
   background-color:#d9d9d9;
}.pagination-button:active{
   cursor:pointer;
   background-color:#c5c5c5;
}
.pagination-button:focus{
   background-color:#252525;
   color:#fff;
}
.pagination-start,
.pagination-end{
   opacity:0.85;
}
.pagination-start{
   border-left:0.5px solid #252525;
}
.pagination-end{
   border-right:0.5px solid #252525;
}

@media all and (min-width:960px){
   #main-menu-wrapper{
      display:none;
   }
}

@media all and (max-width:960px){
   .main-head-title{
      padding:50px 0.25em 0.25em 0.25em;
   }
   .main-nav{
      width:max-content;
      margin-left:auto;
      position:fixed;
      top:0;
   }
   .main-menu{
      display:none;
   }
   #idPatients{
      grid-column:1/-1;
   }
   body > main > section:nth-child(1) > div > form > input[type=submit]:nth-child(4){
      grid-column:1/-1;
      grid-row:3;
   }
}